 <form [formGroup]="transactionForm" (ngSubmit)="performTransaction()">
  <label for="type">Transaction Type:</label>
  <select formControlName="type" id="type">
    <option *ngFor="let type of transactionTypes" [value]="type">{{ type }}</option>
  </select>

  <!-- Deposit Form -->
  <div *ngIf="transactionForm.get('type')?.value === 'DEPOSIT'">
    <label for="toAccount">To Account:</label>
    <select formControlName="toAccount" id="toAccount">
      <option [ngValue]="null">Select an account</option>
      <option *ngFor="let account of accounts" [ngValue]="account.number">{{ account.number }}</option>
    </select>

    <label for="toAccountSortCode">To Account SortCode:</label>
    <select formControlName="toAccountSortCode" id="toAccountSortCode">
      <option [ngValue]="null">Select sort code</option>
      <option *ngFor="let account of accounts" [ngValue]="account.sortCode">{{ account.sortCode }}</option>
    </select>
  </div>

  <!-- Withdrawal Form -->
  <div *ngIf="transactionForm.get('type')?.value === 'WITHDRAWAL'">
    <label for="fromAccount">From Account:</label>
    <select formControlName="fromAccount" id="fromAccount">
      <option [ngValue]="null">Select an account</option>
      <option *ngFor="let account of accounts" [ngValue]="account.number">{{ account.number }}</option>
    </select>

    <label for="fromAccountSortCode">From Account SortCode:</label>
    <select formControlName="fromAccountSortCode" id="fromAccountSortCode">
      <option [ngValue]="null">Select sort code</option>
      <option *ngFor="let account of accounts" [ngValue]="account.sortCode">{{ account.sortCode }}</option>
    </select>
  </div>

  <!-- Transfer Form -->
  <div *ngIf="transactionForm.get('type')?.value === 'TRANSFER'">
    <label for="fromAccount">From Account:</label>
    <select formControlName="fromAccount" id="fromAccount">
      <option [ngValue]="null">Select an account</option>
      <option *ngFor="let account of accounts" [ngValue]="account.number">{{ account.number }}</option>
    </select>

    <label for="fromAccountSortCode">From Account Sort Code:</label>
    <select formControlName="fromAccountSortCode" id="fromAccountSortCode">
      <option [ngValue]="null">Select sort code</option>
      <option *ngFor="let account of accounts" [ngValue]="account.sortCode">{{ account.sortCode }}</option>
    </select>

    <label for="toAccount">To Account Number:</label>
    <input formControlName="toAccount" type="number" id="toAccount" />

    <label for="toAccountSortCode">To Sort Code:</label>
    <input formControlName="toAccountSortCode" type="number" id="toAccountSortCode" />
  </div>

  <label for="amount">Amount $:</label>
  <input formControlName="amount" type="number" id="amount" min="1" />

  <button type="submit">Submit</button>
</form>
